{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Panneau d'administration MétéoExpress{% endblock %}

{% block main %}
    <h1 class="text-center">Bienvenue sur le panneau d'administration de MeteoExpress !</h1>
    <h3 class="text-center">Si vous souhaitez créer, modifier ou ajouter de nouveau utilisateur ou adresses, cliquez sur le menu contextuel à gauche</h3>
    <h3 class="text-center">Ou sinon <a class="btn btn-primary" href="{{ path("app_address_show") }}">retourner à la liste des emplacements favoris</a></h3>
{% endblock %}