{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche{% endblock %}
{% block body %}
    <h2 class="text-center p-3">Liste des résultats pour la recherche : "{{ search }}"</h2>
    {{ include('address/_addressFromRequest.html.twig') }}
{% endblock %}
